# U.S. Medical Insurance Costs

# Look over the dataset

In [14]:
import pandas as pd

file_path = '/Users/leocabart/code/lcabart21/CA_USMedicalInsuranceCost/insurance.csv'

df = pd.read_csv(file_path)

In [22]:
df.isna().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

___________________________________________________________

# Scoping the project

In [ ]:
#Général
print("Moyenne d'age :", df['age'].mean())
print("Moyenne BMI :", df['bmi'].mean())

Moyenne d'age : 39.20702541106129
Moyenne BMI : 30.66339686098655

In [ ]:
#Units average by sex
df.groupby(['sex']).mean(['age', 'bmi', 'children', 'charges'])

              age        bmi  children       charges
sex
female  39.503021  30.377749  1.074018  12569.578844
male    38.917160  30.943129  1.115385  13956.751178

In [ ]:
#Units average by region
df.groupby(['region']).mean(['age', 'bmi', 'children', 'charges'])

                 age        bmi  children       charges
region
northeast  39.268519  29.173503  1.046296  13406.384516
northwest  39.196923  29.199785  1.147692  12417.575374
southeast  38.939560  33.355989  1.049451  14735.411438
southwest  39.455385  30.596615  1.141538  12346.937377

In [ ]:
#Units average by individual smoking habits
df.groupby(['smoker']).mean(['age', 'bmi', 'children', 'charges'])

              age        bmi  children       charges
smoker
no      39.385338  30.651795  1.090226   8434.268298
yes     38.514599  30.708449  1.113139  32050.231832

In [ ]:
#Units average by smoking habits & region
df.groupby(['smoker', 'region']).mean(['age', 'bmi', 'children', 'charges'])

                        age        bmi  children       charges
smoker region
no     northeast  39.536965  29.332082  1.046693   9165.531672
       northwest  39.168539  29.212678  1.119850   8556.463715
       southeast  38.673993  33.442418  1.065934   8032.216309
       southwest  40.183521  30.507865  1.127341   8019.284513
yes    northeast  38.238806  28.565224  1.044776  29673.536473
       northwest  39.327586  29.140431  1.275862  30192.003182
       southeast  39.736264  33.096703  1.000000  34844.996824
       southwest  36.103448  31.005172  1.206897  32269.063494

In [ ]:
#Number of individuals by region
df.value_counts(['region'])

region
southeast    364
northwest    325
southwest    325
northeast    324
Name: count, dtype: int64

In [65]:
#Average age of individuals having children
child = df[df['children'] > 0]

print("Moyenne d'âge des individus avec au moins 1 enfant :", child['age'].mean())

Moyenne d'âge des individus avec au moins 1 enfant : 39.78010471204188